  
.contactList {
  width: 600px;
}

.contactList_item {
  display: flex;
  align-items: center;
  padding: 12px;

 
}


.contactList_button {
  margin-right: 4px;
  margin-left: 4px;
  background-color:burlywood;
  border-radius: 5px;
}